html, body {
  height: 100%;
  width: 100%;
}
.play {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.pause {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.play:hover {
  background-color: RoyalBlue;
}
.pause:hover {
  background-color: RoyalBlue;
}